

.shortcode-column {
}

.column-1-4, .column-1-3, .column-1-2, .column-2-3, .column-3-4, .column-1-1 {
    @include grid-column(12,$float:left,$collapse:true);
    // padding: 10px !important;
}

.column-1-6 {
    @media #{$medium-up} {
        @include grid-column(4,$float:left,$collapse:true);
    }
    @media #{$large-up} {
        @include grid-column(2,$float:left,$collapse:true);
    }
}

.column-1-4 {
    @media #{$medium-up} {
        @include grid-column(6,$float:left,$collapse:true);
    }
    @media #{$large-up} {
        @include grid-column(3,$float:left,$collapse:true);
    }
}
.column-1-3 {
    @media #{$medium-up} {
        @include grid-column(4,$float:left,$collapse:true);
    }
}
.column-1-2 {
    @media #{$medium-up} {
        @include grid-column(6,$float:left,$collapse:true);
    }
}
.column-2-3 {
    @media #{$medium-up} {
        @include grid-column(8,$float:left,$collapse:true);
    }
}
.column-3-4 {
    @media #{$medium-up} {
        @include grid-column(9,$float:left,$collapse:true);
    }
}
.column-1-1 {
    @media #{$medium-up} {
        @include grid-column(12,$float:left,$collapse:true);
    }
}

.fullwidth-section {
    overflow:hidden;
    // padding: 10px !important;
}