

.shortcode-column {
}

.column-1-4, .column-1-3, .column-1-2, .column-2-3, .column-3-4, .column-1-1 {
    @include grid-column(12);
}

.column-1-6 {
    @media #{$medium-up} {
        @include grid-column(4);
    }
    @media #{$large-up} {
        @include grid-column(2);
    }
}

.column-1-4 {
    @media #{$medium-up} {
        @include grid-column(6);
    }
    @media #{$large-up} {
        @include grid-column(3);
    }
}
.column-1-3 {
    @media #{$medium-up} {
        @include grid-column(4);
    }
}
.column-1-2 {
    @media #{$medium-up} {
        @include grid-column(6);
    }
}
.column-2-3 {
    @media #{$medium-up} {
        @include grid-column(8);
    }
}
.column-3-4 {
    @media #{$medium-up} {
        @include grid-column(9);
    }
}
.column-1-1 {
    @include grid-column(12);
    // @media #{$medium-up} {
    //     @include grid-column(12);
    // }
}

.collapse {
    padding-left: 0;
    padding-right: 0;
}

[class^="column-"], [class*="column-"]{
        height:100%;
}
.fullwidth-section {
    overflow:hidden;
    // padding: 10px !important;
}
.row,
.fw-row{
    height:100%;
}